.vs/
/Projektas/bin/Debug/net8.0/Projektas.dll
/Projektas/obj/Debug/net8.0/Projektas.AssemblyInfoInputs.cache
/Projektas/obj/Debug/net8.0/Projektas.AssemblyInfo.cs
/Projektas/bin/Debug/net8.0/Projektas.exe
/Projektas/bin/Debug/net8.0/Projektas.pdb
/Projektas/obj/Debug/net8.0/ref/Projektas.dll
/Projektas/obj/Debug/net8.0/refint/Projektas.dll
/Projektas/obj/Debug/net8.0/apphost.exe
/Projektas/obj/Debug/net8.0/Projektas.dll
/Projektas/obj/Debug/net8.0/Projektas.pdb
/Projektas/obj/Debug/net8.0/Projektas.sourcelink.json
/Projektas/obj/Debug/net8.0/scopedcss/bundle/Projektas.styles.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/projectbundle/Projektas.bundle.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
*.css
/Projektas/obj/Debug/net8.0/Projektas.csproj.FileListAbsolute.txt
/Projektas/obj/Debug/net8.0/Projektas.GeneratedMSBuildEditorConfig.editorconfig
