.vs/
*.dll
*.exe
*.pdb
/Projektas/obj/Debug/net8.0/scopedcss/bundle/Projektas.styles.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/Pages/Home.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/projectbundle/Projektas.bundle.scp.css
/Projektas/obj/Debug/net8.0/Projektas.AssemblyInfo.cs
*.cache
/Projektas/obj/Debug/net8.0/Projektas.csproj.FileListAbsolute.txt
/Projektas/obj/Debug/net8.0/Projektas.GeneratedMSBuildEditorConfig.editorconfig
/Projektas/obj/Debug/net8.0/Projektas.sourcelink.json
/Projektas/obj/Debug/net8.0/scopedcss/Components/Pages/MathGame.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/OptionCard.razor.rz.scp.css
/Projektas/obj/Projektas.csproj.nuget.g.targets
/Projektas/obj/Projektas.csproj.nuget.g.props
/Projektas/obj/Projektas.csproj.nuget.dgspec.json
/Projektas/obj/project.assets.json
/Projektas/obj/Debug/net8.0/staticwebassets.pack.json
/Projektas/obj/Debug/net8.0/staticwebassets.development.json
/Projektas/obj/Debug/net8.0/staticwebassets.build.json
/Projektas/obj/Debug/net8.0/Projektas.GlobalUsings.g.cs
/Projektas/obj/Debug/net8.0/Projektas.csproj.BuildWithSkipAnalyzers
/Projektas/obj/Debug/net8.0/ApiEndpoints.json
/Projektas/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Projektas/obj/Debug/net8.0/staticwebassets/msbuild.build.Projektas.props
/Projektas/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Projektas.props
/Projektas/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Projektas.props
/Projektas/obj/Debug/net8.0/staticwebassets/msbuild.Projektas.Microsoft.AspNetCore.StaticWebAssets.props
/Projektas/bin/Debug/net8.0/appsettings.Development.json
/Projektas/bin/Debug/net8.0/appsettings.json
/Projektas/bin/Debug/net8.0/Projektas.deps.json
/Projektas/bin/Debug/net8.0/Projektas.runtimeconfig.json
/Projektas/bin/Debug/net8.0/Projektas.staticwebassets.runtime.json
