.vs/
*.dll
*.exe
*.pdb
/Projektas/obj/Debug/net8.0/scopedcss/bundle/Projektas.styles.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/Pages/Home.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/projectbundle/Projektas.bundle.scp.css
/Projektas/obj/Debug/net8.0/Projektas.AssemblyInfo.cs
*.cache
/Projektas/obj/Debug/net8.0/Projektas.csproj.FileListAbsolute.txt
/Projektas/obj/Debug/net8.0/Projektas.GeneratedMSBuildEditorConfig.editorconfig
/Projektas/obj/Debug/net8.0/Projektas.sourcelink.json
/Projektas/obj/Debug/net8.0/scopedcss/Components/Pages/MathGame.razor.rz.scp.css
/Projektas/obj/Debug/net8.0/scopedcss/Components/OptionCard.razor.rz.scp.css
