/* _content/Projektas/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-ixegdm85gv] {
    background: #d1d1d1;
    position:relative;
    display: flex;
    flex-direction: column;
}

main[b-ixegdm85gv] {
    flex:1;
}

.title[b-ixegdm85gv] {
    font-size:1.5rem;
    color:black;
}

.sidebar[b-ixegdm85gv] {
    background: #a1a1a1;
}

.top-row[b-ixegdm85gv] {
    background: #ababab;
    border-bottom: 3px solid #6b6b6b;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ixegdm85gv]  a, .top-row[b-ixegdm85gv]  .btn-link {
        white-space:nowrap;
        margin-left:1rem;
        text-decoration:none;
    }

    .top-row[b-ixegdm85gv]  a:hover, .top-row[b-ixegdm85gv]  .btn-link {
        text-decoration:underline;
    }

    .top-row[b-ixegdm85gv]  a:first-child {
        overflow:hidden;
        text-overflow:ellipsis;
    }

.bottom-row[b-ixegdm85gv] {
    background: #ababab;
    border-top: 3px solid #6b6b6b;
    justify-content: flex-start;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

@media (max-width: 640.98px) {
    .top-row[b-ixegdm85gv] {
        justify-content:space-between;
    }

    .top-row[b-ixegdm85gv]  a, .top-row[b-ixegdm85gv]  .btn-link {
        margin-right:0;
    }
}

@media (min-width: 641px) {
    .middle[b-ixegdm85gv] {
        flex-direction:row;
    }

    .sidebar[b-ixegdm85gv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ixegdm85gv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .top-row.auth[b-ixegdm85gv]  a:first-child {
        flex: 1;
        text-align: left;
        width: 0;
    }

    .top-row[b-ixegdm85gv], article[b-ixegdm85gv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-ixegdm85gv] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
    #blazor-error-ui .dismiss[b-ixegdm85gv] {
        cursor:pointer;
        position:absolute;
        right:0.75rem;
        top:0.5rem;
    }
/* _content/Projektas/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-9noxxjabx1] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: gray;
}

.navbar-toggler:checked[b-9noxxjabx1] {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand[b-9noxxjabx1] {
    font-size: 1.1rem;
}

.nav-item[b-9noxxjabx1] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9noxxjabx1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9noxxjabx1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9noxxjabx1]  .nav-link {
        color: #303030;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-9noxxjabx1]  a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: #303030;
}

.nav-item[b-9noxxjabx1]  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

.nav-scrollable[b-9noxxjabx1] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-9noxxjabx1] {
    display: block;
}

.bi[b-9noxxjabx1] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

@media (min-width: 641px){
    .navbar-toggler[b-9noxxjabx1] {
        display: none;
    }

    .nav-scrollable[b-9noxxjabx1] {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
