@page "/"
<PageTitle>Home</PageTitle>

<div class="place_row row">
	<div class="place_col col nav-item">
		<NavLink class="nav-link" href="aimtrainer" Match="NavLinkMatch.All">
			<div class="place_col col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Aim Trainer
				</div>
				<div class="desc">
					Description
				</div>
			</div>
		</NavLink>
	</div>
	<div class="place_col col nav-item">
		<NavLink class="nav-link" href="mathgame" Match="NavLinkMatch.All">
			<div class="place_col col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Math Game
				</div>
				<div class="desc">
					Description
				</div>
			</div>
		</NavLink>
	</div>
</div>
<div class="place_row row">
	<div class="place_col col nav-item">
		<NavLink class="nav-link" href="pairup" Match="NavLinkMatch.All">
			<div class="place_col col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Pair Up
				</div>
				<div class="desc">
					Description
				</div>
			</div>
		</NavLink>
	</div>
	<div class="place_col col nav-item">
		<NavLink class="nav-link" href="sudoku" Match="NavLinkMatch.All">
			<div class="place_col col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Sudoku
				</div>
				<div class="desc">
					Description
				</div>
			</div>
		</NavLink>
	</div>
</div>