@page "/"
<PageTitle>Home</PageTitle>

<div class="place_row row">
	<div class="place_col col nav-item">
		<NavLink class="nav-link" href="aimtrainer" Match="NavLinkMatch.All">
			<div class="place_col col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Aim Trainer
				</div>
				<div class="desc">
					A simple and engaging game designed to enhance your cognitive abilities and reaction speed. Test your focus and precision by quickly targeting and clicking on objects as they appear. Perfect for improving hand-eye coordination, sharpening reflexes, and boosting overall mental agility in a fun and challenging way!
				</div>
			</div>
		</NavLink>
	</div>
	<div class="place_col col nav-item">
		<NavLink class="nav-link" href="mathgame" Match="NavLinkMatch.All">
			<div class="place_col col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Math Game
				</div>
				<div class="desc">
					Sharpen your mind with our Math Game! Designed to enhance cognitive functions and logical thinking, this game challenges your problem-solving skills through fun and interactive math puzzles. Perfect for all ages, it's a great way to train your brain while having fun!
				</div>
			</div>
		</NavLink>
	</div>
</div>
<div class="place_row row">
	<div class="place_col col nav-item">
		<NavLink class="nav-link" href="pairup" Match="NavLinkMatch.All">
			<div class="place_col col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Pair Up
				</div>
				<div class="desc">
					A fun and engaging game designed to boost your cognitive abilities and improve memory. Match pairs of cards to challenge your focus, sharpen your concentration, and enhance your recall skills. Perfect for all ages, this game combines entertainment with brain training for a smarter, sharper you!
				</div>
			</div>
		</NavLink>
	</div>
	<div class="place_col col nav-item">
		<NavLink class="nav-link" href="sudoku" Match="NavLinkMatch.All">
			<div class="place_col col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Sudoku
				</div>
				<div class="desc">
					Sudoku is a classic logic-based number puzzle designed to challenge your brain and enhance cognitive skills. Playing Sudoku improves problem-solving, memory, and logical thinking, making it a fun and rewarding way to keep your mind sharp!
				</div>
			</div>
		</NavLink>
	</div>
</div>