.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.nav-item {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

    .nav-item ::deep .nav-link {
        background: #adadad;
        color: #262626;
        border: 3px solid #3f5970;
        border-radius: 10px;
        height: 25rem;
        display: flex;
        line-height: 3rem;
        width: 35rem;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .nav-item ::deep .nav-link:hover {
            background: #c9c9c9;
            color: black;
            transform: scale(1.02);
        }

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.name {
    background: #bfbfbf;
    border: 2px solid #3f5970;
    border-radius: 6px;
    color: #262626;
    font-size: 40px;
    margin-top: -2.5rem;
    margin-bottom: 0.5rem;
}

.desc {
    background: #bfbfbf;
    border: 2px solid #3f5970;
    border-radius: 6px;
    color: #262626;
    font-size: 20px;
    height: 19rem;
}