.option {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    transition: all 0.2s ease;
    width: 15rem;
}

    .option:hover {
        background-color: #2370eb;
        color: #fff;
        transform: scale(1.05);
    }
