<div>
    <canvas id="@ChartId" width="400" height="50"></canvas>
</div>

<script>
    window.createChart = (chartId, chartType, labels, datasets) => {
        var ctx = document.getElementById(chartId).getContext('2d');
        new Chart(ctx, {
            type: chartType,
            data: {
                labels: labels,
                datasets: datasets.map(dataset => ({
                    label: dataset.label,
                    data: dataset.data,
                    borderColor: dataset.borderColor,
                    borderWidth: 2,
                    tension: 0.4
                }))
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    };
</script>