<div>
    <canvas id="@ChartId" width="400" height="120"></canvas>
</div>

<script>
    window.createTimeChart = (chartId, chartType, labels, datasets, yAxisLabel) => {
        var ctx = document.getElementById(chartId).getContext('2d');
        var yAxisLabel = datasets[0].yAxisLabel;
        new Chart(ctx, {
            type: chartType,
            data: {
                labels: labels,
                datasets: datasets.map(dataset => ({
                    label: dataset.label,
                    data: dataset.data,
                    borderColor: dataset.borderColor,
                    borderWidth: 2,
                    tension: 0.4
                }))
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: yAxisLabel
                        },
                        ticks: {
                            callback: function (value) {
                                const minutes = Math.floor(value / 60);
                                const remainingSeconds = value % 60;
                                return `${minutes.toString().padStart(2, '0')}:${remainingSeconds.toString().padStart(2, '0')}`;
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                const datasetLabel = context.dataset.label || '';
                                const value = context.raw;
                                const minutes = Math.floor(value / 60);
                                const remainingSeconds = value % 60;
                                const formattedTime = `${minutes.toString().padStart(2, '0')}:${remainingSeconds.toString().padStart(2, '0')}`;
                                return `${datasetLabel}: ${formattedTime}`;
                            }
                        }
                    }
                }
            }
        });
    };
</script>
