.page {
    background: #f0f0f0;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.top-row {
    background: #c9c9c9;
    border-bottom: 3px solid #6b6b6b;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 0rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.toggle-sidebar {
    background: none;
    width: 40px;
    height: 35px;
    border: solid;
    border-radius: 4px;
    border-color: #7a7a7a;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

    .toggle-sidebar:hover {
        transform: scale(1.1);
    }

.title {
    color: black;
    font-weight: bold;
    font-size: 1.75rem;
    letter-spacing: 1px;
}

.account {
    margin-left: auto;
    margin-right: 1rem;
}

.account_text {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

    .account_text:hover {
        text-decoration: underline;
    }

.sidebar {
    background: #b8b8b8;
    border-right: 3px solid #7d7c7c;
    transition: width 0.3s ease;
}

    .sidebar.collapsed {
        width: 0px;
    }

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.sidebar.show {
    animation: slideIn 0.3s ease-in-out;
}

.bottom-row {
    background: #c9c9c9;
    border-top: 3px solid #6b6b6b;
    justify-content: flex-start;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

@media (max-width: 640px) {
    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-right: 0;
        margin-left: 3rem;
    }

    .top-row {
        flex-direction: row;
        text-align: center;
    }

    .sidebar {
        position: fixed;
        z-index: 1000;
        width: 80%;
        height: 100%;
        left: -100%;
        transition: left 0.3s ease;
    }

        .sidebar.show {
            left: 0;
        }
}

@media (min-width: 641px) {
    .middle {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}