@inherits LayoutComponentBase
@inject Projektas.Client.Services.AccountServices AccountServices

<div class="page">
	<div class="top-row px-4">
		<a class="title" href="">Projektas</a>
		<div class="account">
			@test
		</div>
	</div>
	<div class="page middle">
		<div class="sidebar">
			<NavMenu />
		</div>
		<main>
			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
	<div class="bottom-row px-4"></div>
</div>

@code {
	private string? test = "";
}
