@inherits LayoutComponentBase
@inject Projektas.Client.Services.AccountService AccountServices
@inject Projektas.Client.Services.AccountAuthStateProvider AuthStateProvider
@implements IDisposable

<div class="page">
	<div class="top-row px-4">
		<a class="title" href="">Projektas</a>
		<div class="account">
			@if(username==null) {
				<a class="account_text" href="account">Log In/Sign Up</a>
			} else {
				<a class="account_text" href="account">@username</a>
			}
		</div>
	</div>
	<div class="page middle">
		<div class="sidebar">
			<NavMenu />
		</div>
		<main>
			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
	<div class="bottom-row px-4"></div>
</div>
