@page "/"
@inherits LayoutComponentBase

<PageTitle>Home</PageTitle>

<div class="row">
	<div class="nav-item px-3 col">
		<NavLink class="nav-link" href="mathgame" Match="NavLinkMatch.All">
			<div class="col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Math game
				</div>
				<div class="desc">
					Description
				</div>
			</div>
		</NavLink>
	</div>
	<div class="nav-item px-3 col">
		<NavLink class="nav-link" href="mathgame" Match="NavLinkMatch.All">
			<div class="col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Sudoku
				</div>
				<div class="desc">
					Description
				</div>
			</div>
		</NavLink>
	</div>
</div>
<div class="row">
	<div class="nav-item px-3 col">
		<NavLink class="nav-link" href="aim-trainer" Match="NavLinkMatch.All">
			<div class="col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Aim Trainer
				</div>
				<div class="desc">
					Description
				</div>
			</div>
		</NavLink>
	</div>
	<div class="nav-item px-3 col">
		<NavLink class="nav-link" href="mathgame" Match="NavLinkMatch.All">
			<div class="col">
				<span class="bi" aria-hidden="true"></span>
				<div class="name">
					Pair Up
				</div>
				<div class="desc">
					Description
				</div>
			</div>
		</NavLink>
	</div>
</div>